
@charset "UTF-8";
/* JA's STYLESHEET */


body {
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	font-style: italic;
	text-transform: uppercase;
	color: white;
	font-size: 100%; /* 16px */
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

p {
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
}

/*Utility Class*/

.box-helper {
	color: #fff;
	background-color: #000;
	text-align: center;
}

.hidden {
	display: none !important;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
	max-width: 100%; /* 100% of itself */
}

/*switch box model*/
html {
	box-sizing: border-box; 
}

*,
*::before,
*::after {
	box-sizing: inherit; 
}

/*Fix for scaling of images IE*/

img {
	-ms-interpolation-mode: bicubic; 
}

/* general styles */


main {
	position: relative;
}

#mainContainer {
	margin: 0 auto;
	width: 100vw;
/*	display: flex;
	flex-wrap: wrap;
	justify-content: center; */
	background-image: linear-gradient(#3D0299, #000F35);
}

/* header */

#mainNav {
	width: 100%;
	height: 30px;
	text-align: center;
	background-image: linear-gradient( #000F35,#3D0299);	
}

#header {
	width: 100vw;
	height: 330px;
}

/* body of zoombox */



#body {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#drag-zone {
	width: 50%;
	margin: auto 0;
	padding: 0 125px;
}

.icon-house {
	margin: 0 auto;
	width: 650px;
	height: 700px;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-template-rows: repeat(3, 1fr); 
	grid-gap: 1em;
	background-color: transparent;
	padding: 20px;
}

.icons {
	height: 166px;
	width: 166px;
}

.drop-con {
	width: 50%;
	margin: auto 0;
	padding: 75px 0 0 225px;
}

#drop-area {
	margin: 0 auto;
	width: 650px;
	height: 700px;
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(2, 1fr); 
	grid-gap: 1em;
	background-color: transparent;
	padding: 20px;
}

.drop-zone {
	width: 200px;
	height: 200px;
	background-color: #efefef;
	border-radius: 2em;
}

/* close body of zoombox */


#footer {
	width: 100%;
	height: 100px;
	margin-top: 100px;
	text-align: center;
	background-image: linear-gradient( #000F35,#3D0299);
}

p {
	letter-spacing: 1px;
}

h2 {
	font-size: 35px;
	color: white;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px #65F5FC;
}

h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	padding: 20px;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px #65F5FC;
}


.heading {
	font-size: 25px;
	color: white;
	text-align: center;
	padding: 30px;
}

.audio {
	background-color: blue;
}

